* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
}

.card {
  background: white;
  padding: 24px;
  border-radius: 2px;
  border: 1px solid #EEE;
  max-width: 400px;
  margin: 24px auto;
  box-shadow: 0 4px 16px -8px #000;
}

.card-header {
  margin-bottom: 24px;
}

.card-title {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.75;
  margin-bottom: 8px;
}

.card-subtitle {
  opacity: 0.75;
}

.field-group {
  margin-bottom: 16px;
}

.field-label {
  display: block;
  margin-bottom: 4px;
}

.field {
  padding: 8px;
  width: 100%;
  border: 1px solid #DDD;
  font-size: 1em;
  outline: none;
}

.field:focus {
  border-color: #3D9CED;
}